.attendance{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
}
.attendance__status{
    background: #ddd;
    padding: 6px 14px;
    border-radius: 12px;
    margin-bottom: 20px;
}
.attendance__date{
    font-size: 18px;
    margin-bottom: 10px;
}
.attendance__time{
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 30px;
}
.attendance__actions{
    display: flex;
    gap: 20px;
}

.btn{
    padding: 12px 40px;
    border-radius: 8px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.btn--primary{
    background: #000;
    color: #fff;
}
