/*ベース*/
*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    font: inherit;
}

select{
    border: none;
    outline: none;
}


/*配置・構造*/
.header {
    align-items: center;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 0 30px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.container {
    padding: 5%;
}

.center {
    max-width: 680px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 20px;
}


/*部品*/
.header__logo{
    width: 250px;
    height: fit-content;
    vertical-align: middle;
}

.header__nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__nav a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.header__nav a:hover {
    font-weight: bold;
}

.header__logout{
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.header__logout:hover{
    font-weight: bold;
}

.header__btn{
    background-color: #fff;
    border-radius: 4px;
    color: #000;
    font-weight: bold;
    padding: 10px 15px;
}
.header__btn:hover{
    opacity: 0.8;
    transition: 0.3s;
}

.btn {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    padding: 12px 32px;
    font-size: 16px;
}

.btn:hover {
    opacity: 0.8;
}


.input {
    width: 100%;
    height: 45px;
    padding: 5px;
}

.page__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.entry__name {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0 10px 0;
}

.text-center {
    text-align: center;
}

.form__error {
    color: #ff333f;
    margin-top: 8px;
}

.disable {
    color: #666 !important;
    background-color: #CCC !important;
}

@media (min-width: 768px) and (max-width: 850px) {
    .header__logo {
        width: 25vw;
    }
}



